{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="icon" href="{% static 'img/icon.png' %}">
</head>
<body style="background-image: url('https://www.django-rest-framework.org/img/grid.png')">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1f79d2; color: white;">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <h3> <a class="nav-link" style="color: #10eac9;" href="#"><b>Home <b><span class="sr-only">(current)</span></a>
      </h3></li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<header>
  <div>
    <h2 align="center"><a style="color:#1fad0c;text-decoration: underline;" href="/"><b>ApiStore</b></a></h2>
  </div>
  <div style="margin:100px;">
    <ol style="list-style-type: none;text-decoration: underline;">
        <li>
          <h2><a style="color:red" href="/api">All the Api</a></h2>
        </li>
       <li>
         <h2> <a style="color:red" href="/api/swagger/">All the Api in swagger</a></h2>
       </li>
	<li>
         <h2> <a style="color:red" href="/contact/">Contact Us [FormView]</a></h2>
       </li>
    </ol>
  </div>

</header>
<!-- Footer -->

  <!-- Footer -->
<footer>
  <div class="footer-copyright text-center py-5">© 2019 Copyright:
      <a href="https:yusuff.dev">yusuff.dev</a>
    </div>
</footer>


</body>
</html>
